<h1>Seja Bem Vindo ao Curso Angular</h1>
<h5 class="card-title">
  {{ nomeProduto | uppercase }}
</h5>
<a href="#" class="btn btn-primary float-right"> {{ precoProduto | currency:'BRL' :'symbol'}}</a>
<p class = "card-text"> Identificação: {{idProduto | number: '2.0-0'}} <br>
Validade : {{dataValidade | date : 'shortDate'}}</p>

<div class="row">
<div class="col">
  <img class = "img-fluid" src="assets/img/logo_horacio.png"/>
</div>
<div class="col">
  <img class= "img-fluid" src="assets/img/crud.png"/>
</div>

